# Скрываем весь Python код и настройки
bot.py
auto_shop.py
build_site.py
sync_products.py
requirements.txt
config.py
.env

# Скрываем базу данных
shop.db
shop.db-journal

# Скрываем системные папки PyCharm и кэш
.idea/
__pycache__/
*.pyc
*.loggit rm --cached bot.py
